[Unit]
Description=Reboot after Ignition to apply kargs
Documentation=https://github.com/coreos/ignition-dracut
DefaultDependencies=false
# Before=initrd-switch-root.target
Before=ignition-complete.target

OnFailure=emergency.target
OnFailureJobMode=isolate

# Requires=ignition-mount.service
# After=ignition-files.service
Requires=ostree-prepare-root.service
After=ignition-files.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ignition-apply-kargs
